.weather-data__components {
  display: flex;
  justify-content: space-between;
}

.component {
  height: 150px;
  width: 150px;
  border-radius: 15px;
  border: 1px solid black;
  background-color: hsla(100, 100%, 100%, 0.4);
}
