#weather-data__components {
  padding-left: 0;
  padding-right: 0;
}

.weather-data__components {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

component-card {
  flex: 1;
  padding: 0.5em;
  background: var(--gradient-hover);
  border: 1px solid var(--color-border);
  border-top-color: var(--color-border-highlight);
  border-radius: 15px;
}

.component {
  max-height: max-content;
  max-width: max-content;
}

.component-title {
  font-family: var(--font-family-heading);
  font-size: var(--size-base);
  font-weight: 600;
  color: var(--color-text);
}

.component-data0 {
  font-family: var(--font-family-text);
  font-size: var(--size-4xl);
  font-weight: 500;
  color: var(--color-text);
}

.component-data1 {
  font-family: var(--font-family-text);
  font-size: var(--size-xl);
  font-weight: 300;
  color: var(--color-text);
  line-height: 0.9;
  margin-bottom: 0.5em;
}

.component-data2 {
  font-family: var(--font-family-text);
  font-size: var(--size-sm);
  color: var(--color-text-muted);
  line-height: 0.95;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  component-card {
    background: var(--gradient);
  }

  component-card:hover {
    background: var(--gradient-hover);
  }
}
