#footer-note {
  text-align: center;
  color: var(--color-text);
  padding-bottom: 0.5rem;
}

#footer-link {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-link);
}

#footer-link:hover {
  text-decoration: underline;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .footer {
    margin-top: auto;
  }

  #footer-note {
    color: var(--color-white);
  }

  #footer-link {
    color: rgb(41, 151, 255);
  }
}
