.future-forecast {
  background: var(--gradient-hover);
  border: 1px solid var(--color-border);
  border-top-color: var(--color-border-highlight);
  border-radius: 15px;
  box-shadow: var(--shadow);
}

.future-forecast__title {
  display: none;
  padding-bottom: 1.5rem;
  font-family: var(--font-family-heading);
  color: var(--color-text);
  font-weight: 700;
}

.future-forecast__data {
  padding: 0.5em 0.5em;
  font-family: var(--font-family-text);
}

.future-forecast__data hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 2px;
  border-color: var(--color-middle);
  color: var(--color-middle);
}

.future-forecast__data-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.future-forecast__data-item__date {
  flex: 1;
  font-family: var(--font-family-heading);
  font-weight: 400;
  color: var(--color-text);
}

.future-forecast__data-item__icon {
  max-width: 50px;
  background-color: transparent;
}

.future-forecast__data-item__temps {
  flex: 1;
  text-align: right;
  font-weight: 500;
  color: var(--color-text-muted);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .future-forecast {
    background: var(--gradient);
  }

  .future-forecast:hover {
    background: var(--gradient-hover);
  }
}
