.header-content__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.3rem 0.6rem;
  background-color: var(--color-top);
  border: 1px solid var(--color-border);
  border-top-color: var(--color-border-highlight);
  box-shadow: var(--shadow);
  border-radius: 9999px;
}

.header-content__input {
  flex-grow: 1;
  min-width: 10em;
  margin: auto;
  font-size: var(--size-base);
  color: var(--color-text);
  background-color: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.header-content__input::placeholder {
  color: var(--color-text-muted);
}

.header-content__input:focus,
.header-content__input:active {
  outline: none;
  box-shadow: none;
}

#unit {
  margin: auto;
  outline: none;
  background-color: transparent;
  color: var(--color-text);
  border: none;
  border-radius: 9999px;
}
#unit option {
  background-color: transparent;
  color: var(--color-black);
  border-radius: 9999px;
}

#search-btn {
  margin: auto;
}

#search-btn__icon {
  min-width: 24px;
  min-height: 24px;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .header-content__form {
    margin-top: 0;
    margin-bottom: 0;
  }
}
