.hourly-forecast {
  background: var(--gradient-hover);
  border: 1px solid var(--color-border);
  border-top-color: var(--color-border-highlight);
  border-radius: 15px;
  box-shadow: var(--shadow);
}

.hourly-forecast__title {
  display: none;
  padding-bottom: 1rem;
  font-family: var(--font-family-heading);
  color: var(--color-text);
}

.scroll-btn {
  display: none;
}

.hourly-forecast__data {
  display: flex;
  column-gap: 1.5rem;
  overflow-x: auto;
  padding: 0.5em 0.5em;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.hourly-forecast__data::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.hourly-forecast__data-item {
  flex: 0 0 auto;
  min-width: 50px;
  font-family: var(--font-family-text);
  font-weight: 500;
  color: var(--color-text-muted);
  text-align: center;
}

.hourly-forecast__data-item__icon {
  width: 50px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  background-color: transparent;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .hourly-forecast {
    background: var(--gradient);
  }

  .hourly-forecast:hover {
    background: var(--gradient-hover);
  }

  .hourly-forecast__data-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .scroll-btn {
    display: block;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    backdrop-filter: blur(1px);
    opacity: 0.25;
    cursor: pointer;
    z-index: 999;
    transition: all 0.3s ease;
  }

  .scroll-btn:hover {
    opacity: 1;
    transform: scale(1.2);
  }

  .scroll-btn.left {
    left: -10px;
  }

  .scroll-btn.right {
    right: -10px;
  }

  .scroll-btn svg {
    height: 25px;
    width: 25px;
  }
}
