.weather-data {
  text-align: center;
}

.weather-data__city {
  font-size: var(--size-4xl);
  color: var(--color-heading);
}

.weather-data__temp {
  font-size: var(--size-9xl);
  color: var(--color-heading);
  letter-spacing: -0.05em;
  line-height: 0.9;
}

.weather-data__summary {
  font-size: var(--size-2xl);
  color: var(--color-text);
  line-height: 0.9;
}

.weather-data__highest-lowest-temp {
  font-size: var(--size-2xl);
  color: var(--color-text);
  line-height: 0.95;
}
