:root {
  /* colors */
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --color-bottom: hsl(0, 0%, 90%);
  --color-middle: hsl(0, 0%, 95%);
  --color-top: hsl(0, 0%, 100%);

  --color-border: hsl(0, 0%, 95%);
  --color-border-highlight: hsl(0, 0%, 100%);
  --gradient: linear-gradient(0deg, var(--color-middle) 95%, var(--color-top));
  --gradient-hover: linear-gradient(
    0deg,
    var(--color-middle),
    var(--color-top)
  );
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);

  /* font colors */
  --color-text: hsl(0, 0%, 5%);
  --color-text-muted: hsl(0, 0%, 30%);

  /* link colors */
  --color-link: rgb(0, 102, 204);

  /* sizes */
  --size-xss: 0.5rem; /*8*/
  --size-xs: 0.75rem; /*12*/
  --size-sm: 0.875rem; /*14*/
  --size-base: 1rem; /*16*/
  --size-lg: 1.125rem; /*18*/
  --size-xl: 1.25rem; /*20*/
  --size-2xl: 1.5rem; /*24*/
  --size-3xl: 1.875rem; /*30*/
  --size-4xl: 2.25rem; /*36*/
  --size-5xl: 3rem; /*48*/
  --size-6xl: 3.75rem; /*60*/
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;

  /* fonts */
  --font-family-heading: "Open Sans", sans-serif;
  --font-family-text: "source-sans-pro", sans-serif;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  display: block;
  min-height: 100vh;
  background-color: var(--color-bottom);
}

#weather-app {
  background-color: var(--color-bottom);
}

svg {
  color: var(--color-text);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

/* xs */
@media (min-width: 475px) {
  #weather-app {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* sm */
@media (min-width: 640px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #e4e4e4, #2b396d, #0b0b0b);
  }

  #weather-app {
    max-height: 80vh;
    max-width: 640px;
    margin-top: auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1.5rem;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
  }

  #weather-app::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* colors */
    --color-bottom: hsl(0, 0%, 0%);
    --color-middle: hsl(0, 0%, 5%);
    --color-top: hsl(0, 0%, 10%);
    --color-general: hsl(0, 0%, 100%);

    --color-border: hsl(0, 0%, 30%);
    --color-border-highlight: hsl(0, 0%, 60%);
    --gradient: linear-gradient(
      0deg,
      var(--color-middle) 95%,
      var(--color-top)
    );
    --gradient-hover: linear-gradient(
      0deg,
      var(--color-middle),
      var(--color-top)
    );

    /* font colors */
    --color-text: hsl(0, 0%, 95%);
    --color-text-muted: hsl(0, 0%, 70%);

    /* link colors */
    --color-link: rgb(41, 151, 255);
  }
}
