/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

.container {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 1px solid black;
}

.section {
  margin-bottom: 2rem;
}

.header-footer {
  padding-top: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.btn {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: -0.05em;
  /* background-color: var(--color-top); */
  /* color: var(--color-heading); */
  padding: 0 0.5em;
  /* transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease; */
}

/* .btn:hover {
  transform: translateY(-2px);
  filter: brightness(1.1);
  box-shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
  color: hsl(0, 0%, 5%);
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    width: 100%;
  }
}
