/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.btn {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--color-secondary);
  color: hsl(0, 0%, 30%);
  padding: 0.5em 1em;
  transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
  filter: brightness(1.1);
  box-shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
  color: hsl(0, 0%, 5%);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  /* border: 1px solid white; */
}

.section {
  margin-top: 5rem;
  /* border: 1px solid white; */
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media (prefers-color-scheme: dark) {
  .btn:hover {
    box-shadow: 0px 4px 4px oklch(0.868 0.187 121 / 0.2),
      0px 6px 6px oklch(0.868 0.187 121 / 0.1);
  }
}
